* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.organizationalChart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  pointer-events: none;
}
.tree {
  width: max-content;
  height: max-content;
}
.tree ul {
  padding-top: 20px;
  position: relative;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
.tree li .liDiv {
  border: 1px solid #ccc;
  padding-top: 19px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 10px;
  background-color: lightcyan;
}

img {
  width: 115px;
  height: 138px;
  object-fit: cover;
}

.employeName,
.employeRole {
  font-family: "Bona Nova", serif;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin-top: 10px;
}

#userIcon {
  font-size: 100px;
}
